* {
  font-family: "Mali", cursive !important;
}

body {
  background-image: url("image/navBg.png");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

span {
  color: #2de90f;
}

main {
  margin: 0;
  background: linear-gradient(180deg, rgba(67, 139, 99, 0) 34.03%, rgba(67, 139, 70, 0.8) 84.37%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero p {
  color: #479242;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sejarah p {
  color: #479242;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.card {
  border-radius: 30px !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

#sejarah {
  margin-bottom: 6rem;
  padding: 10px 50px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.75);
}

.seja {
  margin: 30px 0;
}

h1,
h2 {
  color: #479242;
  font-weight: 700 !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h5 {
  color: #479242;
  font-weight: 700 !important;
}

.foot-tengah {
  background-color: white;
  border-radius: 10px;
  padding-top: 2px;
  box-shadow: inset 0px 16px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
}

.foot-tengah > a {
  margin-left: 10px;
  margin-right: 0;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}

.foot-kanan {
  text-align: center;
}

footer {
  background-image: url("./image/Group99") !important;
  color: white;
  font-weight: 700;
}

#footer > a {
  color: white;
}

nav a {
  font-weight: 700 !important;
  color: #479242 !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

nav a:hover {
  background-color: rgba(202, 228, 228, 0.75);
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.fasilitas img {
  border-radius: 30px;
}

hr {
  border: 0;
  height: 3px !important;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
